footer
{
    background-color: var(--background-color);
}

.footer-arrangement
{
    padding: 0 20% 0 0;
    justify-content: space-between;
}

.footer-bloc
{
    padding: 40px;
}

.footer-menu
{
    line-height: 30px;
    margin: 20px 0;
}


/* Smartphone */ 
@media all and (max-width: 768px)
{
    .footer-arrangement
    {
        flex-direction: column;
    }

    .footer-heading-marge
    {
        margin-top: 30px;
    }

    .footer-bloc
    {
        margin: 15px; 
        padding: 0 5%;
    }

    .footer-menu
    {
        margin: 20px 0;;
    }
}