footer
{
    background-color: var(--background-color);
}

.footer-frame
{
    padding: 0 20% 0 0;
    justify-content: space-between;
}

.bloc-footer
{
    padding: 40px;
}

.menu-footer
{
    line-height: 30px;
    margin: 20px 0 20px 0;
}


/* Smartphone */ 
@media all and (max-width: 768px)
{
    footer
    {
        flex-direction: column;
    }

    .bloc-footer
    {
        margin-top: 50px;
        padding: 0 30px;
    }
}