footer
{
    display: flex;
    background-color: var(--background-color);
}

.footer-box
{
    flex: 1 1 auto;
}

.menu-footer
{
    line-height: 30px;
}


/* Smartphone */ 
@media all and (max-width: 768px)
{
    footer
    {
        flex-direction: column;
    }  
}