header 
{
    height: 110px;
}

.header-logo
{
    display: block;
    padding: 20px 0 0 50px;
    float: left;
    width: auto;
    height: 70px;
}

/* Menu */
.menu-top
{
    justify-content: flex-end;
}

.menu-item
{
    height: 110px;
    width: 150px;
    padding-top: 50px;
    text-align: center;
}

/* Smartphone */
@media all and (max-width: 768px)
{
    header
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .header-logo
    {
        padding: 20px 0 0 40px;
        margin: auto;
        float: none;
    }

    .menu-top
    {
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu-item
    {
        height: auto;
        padding: 15px;
        border-bottom: 3px solid var(--background-color);
        flex: 1 0 0;
    }
}


