/* General */
.menu-container, .layout-container
{
    margin: 0 auto;
}

.layout-container
{
    padding: 0 50px;
}

.search-result-container
{
    max-width: 870px;
    width: 75%;
}

.popular-container
{
    min-width: 410px;
    max-width: 615px;

}

/* Tablet and Smartphone */
@media all and (max-width: 992px)
{
    .layout-container
    {
        padding: 0;
    }

    .popular-container
    {
        min-width: none;
        max-width: none;
    }

    .search-result-container
    {
        width: 100%;
    }

}