.layout-menu, .layout-main
{
    max-width: 1460px;
    margin: auto;
}

.layout-main
{
    padding: 0 50px;
}

.layout-search-result
{
    width: 60%;
    min-width: 900px;
}

.layout-popular
{
    width: 30%;
    min-width: 420px;
}

.layout-activity
{
    width: 100%;
}

.layout-footer
{
    width: 100%;
    height: 100%;
}

/* Small Screen */
@media all and (max-width:1440px)
{
    .layout-search-result
    {
        width: 100%;
        min-width: none;
    }
    .layout-popular
    {
        width: 100%;
        min-width: none;
    }
}

/* Tablet and Smartphone */
@media all and (max-width: 992px)
{
    .layout-main
    {
        padding: 20px;
    }

    .layout-search-result
    {
        width: 100%;
    }

}