.searchForm
{
    margin: 20px 0 30px 0;
    flex-wrap: wrap;
    
}

.searchForm-icon
{
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.searchForm-text
{
    border: solid 1px var(--background-color);
    padding: 0 20px;
}

.searchForm-button-desktop
{
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-radius: 0 15px 15px 0;
    border: none;
}

.searchForm-button-mobile
{
    display: none;
}


/* Smartphone */
@media all and (max-width: 768px)
{
    .searchForm-text
    {
        flex: 1 1 auto;
        padding: 10px;
    }
    
    .searchForm-button-mobile
    {
        display: block;
        background-color: var(--primary-color);
        color: white;
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 15px 15px 15px 15px;
        margin: 0 0 0 -10px;
    }

    .searchForm-button-desktop
    {
        display: none;
    }
}
